.card {
  max-width: 400px;
  width: 100%;
}

.loginbtnsec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginimage {
  margin: 17px 2px 0px 0px;
  width: 80px; /* Adjust as needed */
  height: auto;
}
