.correct-one {
    background-color: #1c9c41 !important;
    color: #cbd5e0;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .false-one {
    background-color: rgb(185 28 28) !important;
    color: #cbd5e0;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .option {
    cursor: default;
  }